.message {
  border: solid 1px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.meta {
  border-bottom: dotted 1px;
  display: flex;
}

.meta div {
  width: 50%;
}

.meta div:nth-child(2) {
  text-align: right;
}

.message div {
  padding: 8px 8px;
  word-break: break-all;
}